modules/__pycache__/asteroide.cpython-38.pyc
modules/__pycache__/nave.cpython-38.pyc
modules/__pycache__/asteroide.cpython-38.pyc
modules/__pycache__/asteroides.cpython-38.pyc
modules/__pycache__/nave.cpython-38.pyc
.asterminator_env
**.pyc
**.db


